@font-face {
  font-family: "Inter";
  src: url("../../fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Inter Italic";
  src: url("../../fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  box-sizing: border-box;
  background-color: #050505;
  display: flex;
  flex-direction: column;
  flex-basis: 82vw;
  max-width: 250rem;
  flex-grow: 0;
  flex-shrink: 1; }
  @media (max-width: 75em) {
    body {
      flex-basis: 90vw; } }
  @media (min-width: 75em) {
    body {
      align-items: center;
      flex-basis: 95vw; } }
  @media (max-width: 56.25em) {
    body {
      flex-basis: 140rem; } }
  @media (max-width: 40.5em) {
    body {
      height: 100vh;
      flex-basis: 140rem; } }

.main {
  flex: 1 1 auto;
  background-color: #222;
  border: 3rem solid #050505;
  border-radius: 50px;
  transition: all 0.2s ease-out; }
  @media (max-width: 40.5em) {
    .main {
      border-top: 0rem solid #050505;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
      border-radius: 0 0 0 0; } }

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #050505;
  height: 10rem;
  width: fit-content;
  padding: 3rem 4rem 0 6rem;
  clear: left; }
  @media (max-width: 40.5em) {
    .header {
      padding: 0rem 0rem 0 3rem;
      height: 8rem; } }

.header-img {
  flex: 0 0 auto;
  height: clamp(4rem, 7vmin, 7rem); }
  @media (max-width: 40.5em) {
    .header-img {
      height: 4rem; } }

.profile-pic {
  height: clamp(4rem, 7vmin, 7rem);
  border-radius: 50%;
  float: left; }
  @media (max-width: 40.5em) {
    .profile-pic {
      height: 4rem; } }

.header-title {
  flex: 5 0 auto;
  font-size: clamp(2.4rem, 3.5vmin, 5.2rem);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: left;
  color: #cccccc;
  padding: 3rem; }

.nav {
  font-family: "Inter", sans-serif; }
  @media (min-width: 75em) {
    .nav {
      display: flex;
      justify-content: center;
      align-items: center; } }
  .nav-list {
    position: relative;
    display: flex;
    align-content: start;
    align-items: center;
    gap: 2px;
    background-color: #222;
    width: fit-content;
    padding: 1.5rem;
    border-radius: 100px;
    align-content: center;
    list-style: none;
    isolation: isolate; }
    .nav-list-item {
      display: inline-block;
      color: #cccccc;
      font-size: clamp(1.9rem, 2.7vmin, 4rem);
      height: fit-content;
      width: fit-content;
      padding: 1rem 0rem;
      text-align: center;
      align-content: center;
      border-radius: 100px;
      transition: all 0.2s ease-in-out; }
      .nav-list-item:not(:last-child) {
        margin-right: 8px; }
      .nav-list-item:has(#about:checked) {
        background-color: #444; }
      .nav-list-item:has(#social:checked) {
        background-color: #444; }
      @media (hover: hover) {
        .nav-list-item:hover {
          background-color: #333; } }
      .nav-list-item:active {
        background-color: #3a3a3a; }

input[type="radio"] {
  display: none; }

label {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  padding: 1rem 2rem;
  color: #aaa;
  transition: color 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  /* For Safari */
  -ms-user-select: none;
  /* For older versions of IE */ }

.split {
  display: inline-block;
  height: 10px;
  width: 2px;
  background-color: #666;
  margin-right: 8px; }

.article {
  color: #cccccc;
  padding: 0 2rem 2rem 2rem;
  margin: 0 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.7rem;
  font-weight: 400; }
  .article-about, .article-social {
    display: none;
    transition: all 0.2s ease-out; }
  .article-about {
    font-size: clamp(1.6rem, 2.5vmin, 3.5rem);
    font-family: "Quicksand", sans-serif;
    font-weight: 500; }
  .article-social {
    margin: 0 auto;
    display: inline; }
    .article-social-header {
      font-weight: 500;
      font-size: clamp(1.6rem, 2.5vmin, 3.5rem);
      margin: 0 0 2rem 0rem; }
    .article-social-list {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      gap: 1rem;
      list-style: none;
      align-self: center;
      padding-top: 2rem; }
      .article-social-list-item {
        border-radius: 50px;
        width: fit-content; }
        .article-social-list-item a:link, .article-social-list-item a:visited {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          gap: 5px;
          font-size: clamp(1.5rem, 2vmin, 2.5rem);
          font-family: "Quicksand", sans-serif;
          font-weight: 500;
          line-height: 100%;
          text-decoration: none;
          color: #cccccc;
          padding: 0.5rem 0.8rem;
          border-radius: 50px;
          -webkit-tap-highlight-color: transparent;
          transition: all 0.2s ease-out; }
          @media (min-width: 48em) {
            .article-social-list-item a:link, .article-social-list-item a:visited {
              flex-direction: column;
              border-radius: 20px; } }
        @media (hover: hover) {
          .article-social-list-item a:hover {
            background-color: #333; } }
        .article-social-list-item a:active {
          background-color: #444; }
        .article-social-list-item a i {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: clamp(2rem, 4vmin, 5.5rem); }
          @media (max-width: 47.999em) {
            .article-social-list-item a i {
              font-size: clamp(1.8rem, 2vmin, 3rem); } }
        .article-social-list-item:not(:last-child) {
          margin-right: 5px; }

.line {
  height: 0.5px;
  width: 100%;
  background-color: #444;
  justify-self: center;
  margin: 0 0 4rem 0; }
