$black: #050505;
$white: #cccccc;
$white-2: #aaa;
$grey-1: #222;
$grey-15: #333;
$grey-17:#3a3a3a;
$grey-2: #444;
$grey-25: #555;
$grey-3: #666;

$small-fs: 1.2rem;
$normal-fs: 1.6rem;
$big-fs: 2.2rem;
$huge-fs: 3.4rem;
