body {
    background-color: black;
    background: rgba(0,0,0, 1);
    color: white;
    // background-blend-mode: darken;
    // background-repeat: repeat; /* Repeat both horizontally and vertically */
    // background-size: calc(100% / 3) auto;
}